[Unit]
Description=KNoT Web
Requires=mongodb.service
After=mongodb.service

[Service]
ExecStart=/usr/local/bin/knot-web.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target