<div ng-init="init()">
  <div class="page-header">
    <h4>Network settings</h4>
  </div>

  <form name="networkForm" class="form-horizontal" ng-submit="save()" novalidate>
    <div class="control-group ng-class:{ error: networkForm.hostname.$invalid && !networkForm.hostname.$pristine }">
      <label class="control-label" for="hostname">Host name</label>
      <div class="controls">
        <input type="text" name="hostname" id="hostname" class="form-control" placeholder="Host name" ng-model="form.hostname" required>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit" ng-disabled="networkForm.$invalid" ng-hide="hideButton">Save</button>
        <div class="loader" ng-show="hideButton">Saving host name...</div>
      </div>
    </div>
  </form>
</div>