<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" ui-sref-active="active"><a ui-sref="app.admin">Administration</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="app.network">Network Interface</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="app.radio">Radio Interface</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="app.cloud">Cloud Settings</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="app.devices">My Devices</a></li>
      </ul>
    </nav>
    <img src="img/knot_logo_white_background.png" alt="Knot logo" class="knot-logo">
    <h3 class="text-muted">KNoT</h3>
  </div>
  <div ui-view></div>
</div>