<div class="jumbotron administration">
  <h2 class="form-home-heading">User information</h2>
  <h4 for="uuid">UUID:</h4>
  <p>{{ uuid }}</p>
  <h4 for="token">Token:</h4>
  <p>{{ token }}</p>
  <h4 for="uuidFog">Gateway's UUID:</h4>
  <p>{{ uuidFog }}</p>
  <h4 for="tokenFog">Gateway's Token:</h4>
  <p>{{ tokenFog }}</p>
  <form class="form-administration" ng-submit="save()" ng-init="init()">
    <h2 class="form-home-heading">Administration</h2>
    <label for="inputGatewayPassword" class="sr-only">Password</label>
    <input type="password" id="inputGatewayPassword" class="form-control" placeholder="Password" ng-model="form.password" required>
    <label for="inputGatewayPasswordConfirmation" class="sr-only">Confirmation</label>
    <input type="password" id="inputGatewayPasswordConfirmation" class="form-control" placeholder="Confirm Password" ng-model="form.passwordConfirmation"
      required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ngClick="Submit">Apply</button>
  </form>
</div>

<div class="jumbotron reset">
  <div class="row">
    <div class="col-xs-30 col-md-10">
      <button class="btn btn-lg btn-primary btn-block" ng-click="reboot()" ng-confirm-click="Click the button ok to reboot the KNoT gateway">Reboot</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-30 col-md-10">
      <button class="btn btn-lg btn-primary btn-block" ng-click="restore()" ng-confirm-click="Click the button ok to restore the KNoT gateway">Restore</button>
    </div>
    <div class="col-xs-30 col-md-20">
      <p>Restore KNoT Gateway settings to the original defaults</p>
    </div>
  </div>
</div>