<div class="jumbotron radio">
  <form class="form-radio" ng-init="init()">
    <h2 class="form-home-heading">Radio Interface</h2>

    <label class="sr-only" for="channel">Channel</label>
    <input type="number" name="channel" min="10" max="116" step="2" value="10" ng-model="form.channel" disabled>
    <label class="sr-only" for="outputPower">Output Power</label>
    <input type="number" name="outputPower" min="-18" max="0" step="6" value="-18" ng-model="form.outputPower" disabled>
    <label class="sr-only" for="mac">MAC</label>
    <input type="text" id="mac" class="form-control" placeholder="MAC address" ng-model="form.mac" readonly>
    <button class="btn btn-lg btn-block" type="submit" ngClick="Submit" disabled>Apply</button>
  </form>
</div>