<div ng-init="init()">
  <div class="page-header">
    <h4>User credentials</h4>
  </div>
  <dl class="dl-horizontal">
    <dt>UUID</dt>
    <dd>{{ uuid }}</dd>

    <dt>Token</dt>
    <dd>{{ token }}</dd>
  </dl>

  <div class="page-header">
    <h4>Gateway credentials</h4>
  </div>
  <dl class="dl-horizontal">
    <dt>UUID</dt>
    <dd>{{ uuidFog }}</dd>

    <dt>Token</dt>
    <dd>{{ tokenFog }}</dd>
  </dl>

  <div class="page-header">
    <h4>Maintenance</h4>
  </div>
  <form class="form-horizontal">
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" ng-click="reboot()" ng-hide="hideButton" confirm-click="Do you want to reboot the gateway?">Reboot</button>
        <div class="loader" ng-show="hideButton">Rebooting...</div>
      </div>
    </div>
  </form>
</div>