<div>
  <div class="alert alert-danger" ng-show="$api.$invalid" ng-messages="$api.$error" role="alert">
    <p ng-message="devices-unavailable">Devices service is unavailable. Try again later or check your configuration.</p>
    <p ng-message="unexpected">An unexpected error occurred. Try again later or check your configuration.</p>
  </div>

  <div class="panel panel-default" ng-hide="allowedDevices.length === 0">
    <div class="panel-heading">
      <h4 class="panel-title">My devices</h4>
    </div>
  </div>

  <div class="device-grid" ng-hide="allowedDevices.length === 0">
    <div class="device-grid-item" ng-repeat="device in allowedDevices">
      <div class="device">
        <div class="device-heading">
          <h5>{{ device.name }}</h5>
        </div>
        <div class="device-body">
          <p>
            <small ng-class="{ 'text-muted': !device.online }">{{ device.online ? 'Online' : 'Offline' }}</small>
          </p>
          <p ng-class="{ 'text-muted': !device.online }" ng-repeat="schema in device.schema">
            <small><b>{{ schema.name }}</b></small>: <small>{{ schema.data ? schema.data.value : '?' }}</small>
          </p>
        </div>
        <div class="device-footer">
          <a href="#" api-click="forget(device)" api-click-state="$api" ng-disabled="$api.$pending" aria-label="Forget Device">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Nearby devices</h4>
    </div>
  </div>

  <div class="device-grid" ng-hide="nearbyDevices.length === 0">
    <div class="device-grid-item" ng-repeat="device in nearbyDevices">
      <div class="device">
        <div class="device-heading">
          <h5>{{ device.name }}</h5>
        </div>
        <div class="device-body">
          <small class="text-muted">{{ device.mac | uppercase }}</small>
        </div>
        <div class="device-footer">
          <a href="#" api-click="allow(device)" api-click-state="$api" ng-disabled="$api.$pending" aria-label="Allow Device">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body text-center" ng-show="nearbyDevices.length === 0">
    No nearby devices found. Please refresh to try again.
  </div>
</div>
