<div class="container container-landing" ng-init="init()">
  <div class="logo-landing">
    <img src="../img/knot_logo_green_background.png" alt="KNoT logo" class="img-rounded" />
    <h2>KNoT Gateway</h2>
  </div>

  <div class="alert alert-warning" role="alert">
    <p>Please configure your cloud server address to continue</p>
  </div>

  <div class="alert alert-danger" ng-show="$apiError" ng-messages="$apiError" role="alert">
    <p ng-message="unexpected">An unexpected error occurred. Try again later or check your configuration.</p>
  </div>

  <form name="cloudForm" ng-submit="save()" novalidate>
    <div class="form-group ng-class:{ 'has-error': cloudForm.hostname.$invalid && !cloudForm.hostname.$pristine }">
      <input type="text" id="hostname" name="hostname" class="form-control" placeholder="Host name" ng-model="form.servername" hostname required>
    </div>

    <div class="form-group ng-class:{ 'has-error': cloudForm.port.$invalid && !cloudForm.port.$pristine }">
      <input type="number" id="port" name="port" class="form-control" placeholder="Port" ng-model="form.port" min="0" max="65535" required>
    </div>

    <button class="btn btn-primary btn-block" type="submit" ng-disabled="cloudForm.$invalid" ng-hide="hideButton">Save</button>
    <div class="loader text-center" ng-show="hideButton">Saving address...</div>
  </form>
</div>
