<div class="container container-landing">
  <div class="logo-landing">
    <img src="../img/knot_logo_green_background.png" alt="KNoT logo" class="img-rounded" />
    <h2>KNoT Gateway</h2>
  </div>

  <div class="alert alert-warning" role="alert">
    <p>Please configure your cloud server address to continue</p>
  </div>

  <div class="alert alert-danger" ng-show="$api.$invalid" ng-messages="$api.$error" role="alert">
    <p ng-message="unexpected">An unexpected error occurred. Try again later or check your configuration.</p>
  </div>

  <form name="cloudForm" novalidate>
    <div class="form-group ng-class:{ 'has-error': cloudForm.hostname.$invalid && !cloudForm.hostname.$pristine }">
      <input type="text" id="hostname" name="hostname" class="form-control" placeholder="Host name" ng-model="form.servername" hostname required>
    </div>

    <div class="form-group ng-class:{ 'has-error': cloudForm.port.$invalid && !cloudForm.port.$pristine }">
      <input type="number" id="port" name="port" class="form-control" placeholder="Port" ng-model="form.port" min="0" max="65535" required>
    </div>

    <button class="btn btn-primary btn-block" api-click="save()" api-click-state="$api" busy-when="$api.$pending" ng-disabled="cloudForm.$invalid || $api.$pending">Save</button>
  </form>
</div>
