<div>
  <div class="alert alert-danger" ng-show="$api.$invalid" ng-messages="$api.$error" role="alert">
    <p ng-message="unexpected">An unexpected error occurred. Try again later or check your configuration.</p>
  </div>

  <uib-progressbar value="0"></uib-progressbar>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Step 1. Cloud service</h3>
    </div>
    <div class="panel-body">
      <p>Select your cloud platform</p>
      <div class="cloud-grid">
        <div class="cloud-grid-item" ng-repeat="cloud in cloudPlatforms">
          <a href ng-click="selectPlatform(cloud.name)">
            <div class="cloud" ng-class="{'selected': cloud.selected}">
              <img ng-src={{cloud.src}} width=100% alt="{{cloud.name}}">
            </div>
          </a>
        </div>
      </div>
      <p ng-hide="!form.platform">Set the KNoT Cloud server address that this gateway will connect to. This is the server where your device data and user credentials will be stored.</p>
      <br>
      <form ng-hide="!form.platform" name="cloudForm" class="form-horizontal" novalidate>
        <div ng-if="form.platform === 'MESHBLU'">
          <div class="form-group ng-class:{ 'has-error': cloudForm.hostname.$invalid && !cloudForm.hostname.$pristine }">
            <label for="hostname" class="col-sm-2 col-sm-offset-2 control-label">Hostname</label>
            <div class="col-sm-6">
              <input type="text" id="hostname" name="hostname" class="form-control" placeholder="knot-test.cesar.org.br" ng-model="form.hostname" ng-disabled="$api.$pending" hostname required>
            </div>
          </div>

          <div class="form-group ng-class:{ 'has-error': cloudForm.port.$invalid && !cloudForm.port.$pristine }">
            <label for="port" class="col-sm-2 col-sm-offset-2 control-label">Port</label>
            <div class="col-sm-6">
              <input type="number" id="port" name="port" class="form-control" placeholder="3000" ng-model="form.port" ng-disabled="$api.$pending" min="0" max="65535" required>
            </div>
          </div>

        </div>
        <div ng-if="form.platform === 'FIWARE'">
          <p class="text-center">IoT Agent configuration</p>
          <div class="form-group ng-class:{ 'has-error': cloudForm.iota.hostname.$invalid && !cloudForm.iota.hostname.$pristine }">
            <label for="hostname" class="col-sm-2 col-sm-offset-2 control-label">Hostname</label>
            <div class="col-sm-6">
              <input type="text" id="hostname-iota" name="hostname-iota" class="form-control" placeholder="knot-test.cesar.org.br" ng-model="form.iota.hostname" ng-disabled="$api.$pending" hostname required>
            </div>
          </div>

          <div class="form-group ng-class:{ 'has-error': cloudForm.iota.port.$invalid && !cloudForm.iota.port.$pristine }">
            <label for="port" class="col-sm-2 col-sm-offset-2 control-label">Port</label>
            <div class="col-sm-6">
              <input type="number" id="port-iota" name="port-iota" class="form-control" placeholder="4041" ng-model="form.iota.port" ng-disabled="$api.$pending" min="0" max="65535" required>
            </div>
          </div>

          <hr>
          <p class="text-center">Orion configuration</p>

          <div class="form-group ng-class:{ 'has-error': cloudForm.orion.hostname.$invalid && !cloudForm.orion.hostname.$pristine }">
            <label for="hostname" class="col-sm-2 col-sm-offset-2 control-label">Hostname</label>
            <div class="col-sm-6">
              <input type="text" id="hostname-orion" name="hostname-orion" class="form-control" placeholder="knot-test.cesar.org.br" ng-model="form.orion.hostname" ng-disabled="$api.$pending" hostname required>
            </div>
          </div>

          <div class="form-group ng-class:{ 'has-error': cloudForm.orion.port.$invalid && !cloudForm.orion.port.$pristine }">
            <label for="port" class="col-sm-2 col-sm-offset-2 control-label">Port</label>
            <div class="col-sm-6">
              <input type="number" id="port-orion" name="port-orion" class="form-control" placeholder="1026" ng-model="form.orion.port" ng-disabled="$api.$pending" min="0" max="65535" required>
            </div>
          </div>
          <div class="checkbox col-sm-offset-3">
            <label><input type="checkbox" ng-model="form.disableSecurity" ng-checked="form.disableSecurity">Check this option to disable setup FIWARE security components</label>
          </div>
        </div>
      </form>

      <nav>
        <ul class="pager">
          <li class="previous ng-class:{ disabled: $api.$pending }">
            <a ui-sref="config.welcome">Previous</a>
          </li>
          <li class="next ng-class:{ disabled: cloudForm.$invalid || $api.$pending }">
            <a href api-click="save()" api-click-state="$api" api-click-busy-when="$api.$pending" ng-disabled="cloudForm.$invalid || $api.$pending">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
