<div key-press>
  <uib-progressbar value="0"></uib-progressbar>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Welcome</h3>
    </div>
    <div class="panel-body">
      <p>In a few steps, you will configure your gateway to work. This wizard will help you setup the cloud service and user credentials.</p>
      <nav>
        <ul class="pager">
          <li class="next"><a ui-sref="config.cloud">Start</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>