<div>
  <div class="alert alert-danger" ng-show="$api.$invalid" ng-messages="$api.$error" role="alert">
    <p ng-message="unexpected">An unexpected error occurred. Try again later or check your configuration.</p>
  </div>

  <uib-progressbar value="0"></uib-progressbar>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Step 1. Cloud service</h3>
    </div>
    <div class="panel-body">
      <p>Select your cloud platform</p>
      <div class="cloud-grid">
        <div class="cloud-grid-item" ng-repeat="cloud in cloudPlatforms">
          <a href ng-click="selectPlatform(cloud.name)">
            <div class="cloud" ng-class="{'selected': cloud.selected}">
              <img ng-src={{cloud.src}} alt="{{cloud.name}}">
            </div>
          </a>
          <p ng-if="cloud.name === 'KNOT_CLOUD'" class="text-center">KNoT Cloud</p>
          <p ng-if="cloud.name === 'FIWARE'" class="text-center">FIWARE</p>
        </div>
      </div>
      <p ng-hide="!form.platform">Set the cloud server address that this gateway will connect to. This is the server where your device data and user credentials will be stored.</p>
      <br>
      <form ng-hide="!form.platform" name="cloudForm" class="form-horizontal" novalidate>
        <div ng-if="form.platform === 'KNOT_CLOUD'">
          <p class="text-center">Broker address</p>
          <div class="form-group ng-class:{ 'has-error': cloudForm.knotCloud.hostname.$invalid && cloudForm.knotCloud.path.$invalid && cloudForm.knotCloud.protocol.$invalid && !cloudForm.knotCloud.protocol.$pristine && !cloudForm.knotCloud.hostname.$pristine && !cloudForm.knotCloud.path.$pristine }">
            <label for="hostname" class="col-sm-2 col-sm-offset-1 control-label">Hostname</label>
            <div class="col-sm-2">
              <select class="form-control" ng-model="form.knotCloud.protocol" id="select-protocol" required>
                <option value="amqps" selected>amqps</option>
                <option value="amqp">amqp</option>
              </select>
            </div>
            <div class="col-sm-3">
              <input type="text" id="hostname-knot-cloud" name="hostname-knot-cloud" class="col-sm-2 form-control" placeholder="ws.knot.cloud" ng-model="form.knotCloud.hostname" ng-disabled="$api.$pending" hostname required>
            </div>
            <div class="col-sm-2">
              <input type="text" id="path-knot-cloud" name="path-knot-cloud" class="col-sm-2 form-control" placeholder="/" ng-model="form.knotCloud.path" ng-disabled="$api.$pending" required>
            </div>
          </div>

          <div class="form-group ng-class:{ 'has-error': cloudForm.knotCloud.port.$invalid && !cloudForm.knotCloud.port.$pristine }">
            <label for="port" class="col-sm-2 col-sm-offset-1 control-label">Port</label>
            <div class="col-sm-7">
              <input type="number" id="port-knot-cloud" name="port-knot-cloud" class="form-control" ng-attr-placeholder="{{ form.knotCloud.protocol === 'wss' ? 443 : 80 }}" ng-model="form.knotCloud.port" ng-disabled="$api.$pending" min="0" max="65535" required>
            </div>
          </div>

          <div class="form-group ng-class:{ 'has-error': cloudForm.knotCloud.username.$invalid && !cloudForm.knotCloud.username.$pristine }">
            <label for="username" class="col-sm-2 col-sm-offset-1 control-label">Username</label>
            <div class="col-sm-7">
              <input type="text" id="username-knot-cloud" name="username-knot-cloud" class="form-control" placeholder="username" ng-model="form.knotCloud.username" ng-disabled="$api.$pending" required>
            </div>
          </div>

          <div class="form-group ng-class:{ 'has-error': cloudForm.knotCloud.password.$invalid && !cloudForm.knotCloud.password.$pristine }">
            <label for="password" class="col-sm-2 col-sm-offset-1 control-label">Password</label>
            <div class="col-sm-7">
              <input type="password" id="password-knot-cloud" name="password-knot-cloud" class="form-control" placeholder="password" ng-model="form.knotCloud.password" ng-disabled="$api.$pending" required>
            </div>
          </div>

          <hr>
          <p class="text-center">Cloud address</p>

          <div class="form-group ng-class:{ 'has-error': cloudForm.apiGateway.protocol.$invalid && cloudForm.apiGateway.hostname.$invalid && cloudForm.apiGateway.protocol.$invalid && !cloudForm.apiGateway.protocol.$pristine && !cloudForm.apiGateway.hostname.$pristine && !cloudForm.apiGateway.path.$pristine }">
            <label for="hostname" class="col-sm-2 col-sm-offset-1 control-label">Hostname</label>
            <div class="col-sm-2">
              <select class="form-control" ng-model="form.apiGateway.protocol" id="select-protocol" required>
                <option value="https" selected>https</option>
                <option value="http">http</option>
              </select>
            </div>
            <div class="col-sm-3">
                <input type="text" id="hostname-apiGateway" name="hostname-apiGateway" class="col-sm-2 form-control" placeholder="auth.knot.cloud" ng-model="form.apiGateway.hostname" ng-disabled="$api.$pending" hostname required>
            </div>
            <div class="col-sm-2">
              <input type="text" id="path-apiGateway" name="path-apiGateway" class="col-sm-2 form-control" placeholder="/" ng-model="form.apiGateway.path" ng-disabled="$api.$pending" required>
              </div>
            </div>

            <div class="form-group ng-class:{ 'has-error': cloudForm.apiGateway.port.$invalid && !cloudForm.apiGateway.port.$pristine }">
              <label for="port" class="col-sm-2 col-sm-offset-1 control-label">Port</label>
              <div class="col-sm-7">
                <input type="number" id="port-apiGateway" name="port-apiGateway" class="form-control" ng-attr-placeholder="{{ form.apiGateway.protocol === 'https' ? 443 : 80 }}" ng-model="form.apiGateway.port" ng-disabled="$api.$pending" min="0" max="65535" required>
              </div>
            </div>
        </div>
        <div ng-if="form.platform === 'FIWARE'">
          <p class="text-center">IoT Agent configuration</p>
          <div class="form-group ng-class:{ 'has-error': cloudForm.iota.hostname.$invalid && !cloudForm.iota.hostname.$pristine }">
            <label for="hostname" class="col-sm-2 col-sm-offset-2 control-label">Hostname</label>
            <div class="col-sm-6">
              <input type="text" id="hostname-iota" name="hostname-iota" class="form-control" placeholder="knot-test.cesar.org.br" ng-model="form.iota.hostname" ng-disabled="$api.$pending" hostname required>
            </div>
          </div>

          <div class="form-group ng-class:{ 'has-error': cloudForm.iota.port.$invalid && !cloudForm.iota.port.$pristine }">
            <label for="port" class="col-sm-2 col-sm-offset-2 control-label">Port</label>
            <div class="col-sm-6">
              <input type="number" id="port-iota" name="port-iota" class="form-control" placeholder="4041" ng-model="form.iota.port" ng-disabled="$api.$pending" min="0" max="65535" required>
            </div>
          </div>

          <hr>
          <p class="text-center">Orion configuration</p>

          <div class="form-group ng-class:{ 'has-error': cloudForm.orion.hostname.$invalid && !cloudForm.orion.hostname.$pristine }">
            <label for="hostname" class="col-sm-2 col-sm-offset-2 control-label">Hostname</label>
            <div class="col-sm-6">
              <input type="text" id="hostname-orion" name="hostname-orion" class="form-control" placeholder="knot-test.cesar.org.br" ng-model="form.orion.hostname" ng-disabled="$api.$pending" hostname required>
            </div>
          </div>

          <div class="form-group ng-class:{ 'has-error': cloudForm.orion.port.$invalid && !cloudForm.orion.port.$pristine }">
            <label for="port" class="col-sm-2 col-sm-offset-2 control-label">Port</label>
            <div class="col-sm-6">
              <input type="number" id="port-orion" name="port-orion" class="form-control" placeholder="1026" ng-model="form.orion.port" ng-disabled="$api.$pending" min="0" max="65535" required>
            </div>
          </div>
        </div>
      </form>

      <nav>
        <ul class="pager">
          <li class="previous ng-class:{ disabled: $api.$pending }">
            <a ui-sref="config.welcome">Previous</a>
          </li>
          <li class="next ng-class:{ disabled: cloudForm.$invalid || $api.$pending || !form.platform }">
            <a href api-click="save()" api-click-state="$api" api-click-busy-when="$api.$pending" ng-disabled="cloudForm.$invalid || $api.$pending">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
