<div class="container">
  <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">
            <img src="../img/knot_logo_white_background.png" alt="KNoT Logo">
            KNoT Gateway
          </div>
        </div>
      </div>
    </nav>

    <div class="panel panel-default">
      <div class="panel-body">
        <uib-progressbar class="progress-striped active" animate="true" value="100">Rebooting</uib-progressbar>
      </div>
    </div>
  </div>
</div>
