<div class="container container-landing">
  <div class="logo-landing">
    <img src="../img/knot_logo_green_background.png" alt="KNoT Logo" class="img-rounded" />
    <h2>KNoT Gateway</h2>
  </div>

  <div class="alert alert-danger" ng-show="$api.$invalid" ng-messages="$api.$error" role="alert">
    <p ng-message="invalid-credentials">Invalid credentials.</p>
    <p ng-message="unexpected">An unexpected error occurred. Try again later or check your configuration.</p>
  </div>

  <form name="signinForm" novalidate>
    <div class="form-group ng-class:{ 'has-error': signinForm.email.$invalid && !signinForm.email.$pristine }">
      <input type="email" name="email" class="form-control" placeholder="E-mail" ng-model="form.email" ng-disabled="$api.$pending" required>
    </div>

    <div class="form-group ng-class:{ 'has-error': signinForm.password.$invalid && !signinForm.password.$pristine }">
      <input type="password" name="password" class="form-control" placeholder="Password" ng-model="form.password" ng-disabled="$api.$pending" required>
    </div>

    <button class="btn btn-primary btn-block" api-click="signin()" api-click-state="$api" busy-when="$api.$pending" ng-disabled="signinForm.$invalid || $api.$pending">Sign in</button>
  </form>

  <hr />

  <p class="text-center">
    <a ui-sref="signup">Create an account</a>
  </p>
</div>