<div align="center">
  <img src="img/knot_logo_green_background.png" class="round-image" />
  <h2 class="banner">KNoT Gateway</h2>
</div>
<div>
  <h2 class="banner small-font" align="center" >Create account</h2>
</div>
<div align="center" class="container home-container">
  <form class="form-home" ng-submit="signup()">
    <input type="text" id="inputEmail" class="form-control" placeholder="Email" ng-model="form.email" required>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="form.password" required>
    <input type="password" id="inputPasswordConfirmation" class="form-control" placeholder="Confirm Password" ng-model="form.passwordConfirmation" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-hide="hideButton">Sign Up</button>
    <p ng-show="hideButton">Registering user...</p>
  </form>
</div>