<div class="jumbotron network">
    <form class="form-network" ng-controller="networkController" ng-submit="save()">
        <h2 class="form-signin-heading">Network Interface</h2>
        <label><input type="radio" name="rdAutomaticIP" value="Automatic IP Address" checked>Automatic IP Address</label>
        <label><input type="radio" name="rdAutomaticIP" value="Using IP Address below"/>Using IP Address below</label>
        <label for="ipaddress" class="sr-only">IP Address</label>
        <input type="text" id="ipaddress" class="form-control" placeholder="IP Address" ng-model="form.ipaddress" required>
        <label for="networkMask" class="sr-only">Network Mask</label>
        <input type="text" id="networkMask" class="form-control" placeholder="Network Mask" ng-model="form.networkMask" required>
        <label for="defaultGateway" class="sr-only">Default Gateway</label>
        <input type="text" id="defaultGateway" class="form-control" placeholder="Default Gateway" ng-model="form.defaultGateway" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ngClick="Submit">Apply</button>
    </form>
</div>