<div class="jumbotron network" ng-controller="networkController">
    <form class="form-network" ng-submit="save()" ng-init="init()">
        <h2 class="form-signin-heading">Network Interface</h2>
        <label><input type="radio" name="rdAutomaticIP" text="Automatic IP Address" ng-model="automaticIp"  value="true">Automatic IP Address</label>
        <label><input type="radio" name="rdAutomaticIP" text="Using IP Address below" ng-model="automaticIp" value="false"/>Using IP Address below</label>
        <label for="ipaddress" class="sr-only">IP Address</label>
        <input type="text" id="ipaddress" class="form-control" placeholder="IP Address" ng-model="form.ipaddress" ng-disabled="readonly" required>
        <label for="networkMask" class="sr-only">Network Mask</label>
        <input type="text" id="networkMask" class="form-control" placeholder="Network Mask" ng-model="form.networkMask" ng-disabled="readonly" required>
        <label for="defaultGateway" class="sr-only">Default Gateway</label>
        <input type="text" id="defaultGateway" class="form-control" placeholder="Default Gateway" ng-model="form.defaultGateway" ng-disabled="readonly" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Apply</button>
    </form>
</div>