/* Bootstrap override */
.btn-primary {
  background-image: linear-gradient(to bottom,#62a943,#267a1a);
  border-color: #62a943 #62a943 #267a1a;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #267a1a;
}

a {
  color: #62a943;
}

a:focus {
  color: #62a943;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #62a943;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #62a943;
}

.nav-pills > :not(.active) > a:hover {
  color: #267a1a;
}
