body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.spinner:before {
  content: '';
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  border: 4px solid #dbdbdb;
  border-top: 4px solid #909090;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
