@import "~bootstrap/less/variables.less";

.device-min-height {
  min-height: 400px;
}

.device-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.device-grid-item {
  flex: 0 0 100%;
  max-width: 100%;
  @media all and (min-width: @screen-sm) {
    flex: 0 1 33.3%;
    max-width: 33.3%;
  }
  border: 10px solid transparent;
}

.device {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 15px;
}

.device:hover {
  background-color: #f5f5f5;
}

.device-heading {
  margin-bottom: 10px;
}

.device-heading > h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
}

.device-body {
  flex: 1;
  margin-bottom: 10px;
}

.device-body p {
  font-size: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.device-footer {
  margin-top: 20px;
  text-align: right;
}

.add-device {
  position: absolute;
  right: 5%;
  bottom: 0;
}

.add-device button {
  background: #62a943;
    border: 1px solid #ddd;
    color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.close-button {
  position: absolute;
  right: 4%;
  top: 3%;
  text-decoration: none !important;
  font-size: 30px;
}

form.device-form .fields-space {
  margin-bottom: 10px;
}

form.device-form .control-label {
  text-align: start;
}

.modal-dialog {
  width: 800px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.data-item {
  padding: 10px 60px;
  border: 1px solid #aaaaaa;
  border-radius: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-item-index {
  padding: 10px 60px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-data-item {
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.add-data-item .add-data-item-button {
  background: #62A943;
  border-radius: 15px;
  color: white;
  border: 0;
  padding: 5px 14px;
}