.container-landing {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.logo-landing {
  margin: 0 auto 45px auto;
  text-align: center;
}

.logo-landing > img {
  width: 60px;
}

.logo-landing > h2 {
  font-weight: 400;
  color: #555;
}
